[Unit]
Description=Refresh SwarmFarm user token credentials

[Service]
ExecStart=/home/andrew.lipscomb/bin/swarmfarm-auth-login refresh --legacy
Type=oneshot

